* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
}

.container {
  max-width: 800px;
  margin: 0px auto;
}

header .container .row .main {
  padding: 15px;
}
header .container .row .main .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .container .row .main .menu .setting a i {
  color: #5dbed8;
  font-size: 19px;
  cursor: pointer;
}
header .container .row .main .menu .discover a,
header .container .row .main .menu .myfeed a {
  color: gray;
  font-size: 19px;
  font-weight: 500;
}
header .container .row .main .menu .discover:hover,
header .container .row .main .menu .myfeed:hover {
  border-bottom: 3px solid #5dbed8;
  cursor: pointer;
}

.add-post-section {
  padding: 30px 0px;
}
.add-post-section .container .row .main .form {
  width: 100%;
  margin: 0px auto;
  border: 2px solid #5dbed8;
  padding: 30px;
  border-radius: 5px;
}
.add-post-section .container .row .main .form h3 {
  text-align: center;
  color: #5dbed8;
  font-size: 21px;
  font-weight: 500;
  padding-bottom: 15px;
}
.add-post-section .container .row .main .form .img-url, .add-post-section .container .row .main .form .blog-title, .add-post-section .container .row .main .form .blog-content {
  padding: 10px 0px;
}
.add-post-section .container .row .main .form input {
  width: 100%;
  padding: 15px 0px;
  border: 0px;
  border-bottom: 1px solid #808080;
  font-size: 18px;
  color: #808080;
}
.add-post-section .container .row .main .form .btn {
  padding-top: 15px;
  text-align: center;
}
.add-post-section .container .row .main .form .btn button {
  border: 0px;
  display: inline-block;
  background-color: #5dbed8;
  color: white;
  font-size: 18px;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.add-post-section .container .row .main .form .btn button:hover {
  background-color: #146e85;
}

.all-post-section .container .row .main {
  padding: 15px;
}
.all-post-section .container .row .main .box {
  padding: 30px 0px;
}
.all-post-section .container .row .main .box .details .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all-post-section .container .row .main .box .details .title .left h3 {
  font-size: 19px;
  font-weight: 900;
}
.all-post-section .container .row .main .box .details .title .right .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.all-post-section .container .row .main .box .details .title .right .action .edit {
  padding: 0px 12px;
}
.all-post-section .container .row .main .box .details .title .right .action .edit i {
  color: green;
  font-size: 18px;
  cursor: pointer;
}
.all-post-section .container .row .main .box .details .title .right .action .delete {
  padding: 0px 12px;
}
.all-post-section .container .row .main .box .details .title .right .action .delete i {
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.all-post-section .container .row .main .box .details .img {
  padding: 15px 0px;
}
.all-post-section .container .row .main .box .details .img img {
  width: 100%;
}
.all-post-section .container .row .main .box .details .content .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
}
.all-post-section .container .row .main .box .details .content .icon .left ul {
  display: flex;
  flex-wrap: wrap;
}
.all-post-section .container .row .main .box .details .content .icon .left ul li i {
  font-size: 22px;
}
.all-post-section .container .row .main .box .details .content .icon .left ul li:first-child i {
  color: red;
}
.all-post-section .container .row .main .box .details .content .icon .left ul li:nth-last-child(2) {
  padding: 0px 15px;
}
.all-post-section .container .row .main .box .details .content .icon .right span i {
  font-size: 22px;
}
.setting-section .container .row .main .box .img img {
  width: 100%;
}/*# sourceMappingURL=pages.css.map */